
{{ if .Site.Params.DefaultSassPrepend }}
{{ .Site.Params.DefaultSassPrepend }}
{{ end }}


$mobile_width: 600px

$font_default: serif
$font_mono: monospace


$bg_beige: #fffbeb
$bg_beige_darker: #f0ecdd
$blackish_text: #5c5537
$redish_orange: #ff6719
$redish_orange_visited: #dd6719
$redish_orange_border: #e6e2d4

$alien_green_0: #39a78e
$alien_green_1:	#2bdb6b
$alien_green_2:	#18da3b
$alien_green_3:	#09f018
$alien_green_4:	#00ff00

$monochrome_white:	#ffffff
$monochrome_lgrey:	#c0c0c0
$monochrome_dgrey:	#808080
$monochrome_darker_grey:	#404040
$monochrome_black:	#000000

\:root
    color-scheme: light dark

    --bg-color: #{$bg_beige}

    --text-color: #{$blackish_text}

    --link-color: #{$redish_orange}
    --link-visited-color: #{$redish_orange_visited}

    --border-color: #{$redish_orange_border}
    --box-shadow-color: #{$redish_orange_border}

    --input-text-bg-color: white
    --input-text-border-color: #{$redish_orange}
    --input-text-text-disabled-color: #cccccc

    --button-bg-color: #{$redish_orange}
    --button-border-color: #{$redish_orange}
    --button-text-color: white
    --button-bg-disabled-color: #{$redish_orange_visited}

    --site-title-bg-color: #{$monochrome_white}
    --site-title-border-color: #{$monochrome_dgrey}
    --site-title-box-shadow-color: #{$monochrome_darker_grey}

    @media (prefers-color-scheme: dark)
      --bg-color: #{$monochrome_black}

      --text-color: #{$monochrome_lgrey}

      --link-color: #{$monochrome_lgrey}
      --link-visited-color: #{$monochrome_lgrey}

      --border-color: #{$monochrome_dgrey}
      --box-shadow-color: #{$monochrome_darker_grey}

      --input-text-bg-color: #{$monochrome_black}
      --input-text-border-color: #{$monochrome_darker_grey}
      --input-text-text-disabled-color: #{$monochrome_darker_grey}

      --button-bg-color: #{$monochrome_darker_grey}
      --button-border-color: #{$monochrome_darker_grey}
      --button-text-color: #{$monochrome_lgrey}
      --button-bg-disabled-color: #{$monochrome_dgrey}

      --site-title-bg-color: #{$monochrome_lgrey}
      --site-title-border-color: #{$monochrome_dgrey}
      --site-title-box-shadow-color: #{$monochrome_darker_grey}



body
  padding: 1rem
  font-family: $font_default

  background-color: var(--bg-color)
  color: var(--text-color)
  // font-optical-sizing: auto;



a
  /* 기본 상태 */
  color: var(--link-color)
  @extend .hvr-box-shadow-outset !optional

a:link
  /* href 속성이 명시된 상태 */

a:visited
  /* 링크를 클릭해본 상태 */
  color: var(--link-visited-color)

a:focus
  /* 링크 위에 키보드 포커스가 위치한 상태 */

a:hover
  /* 링크 위에 마우스 포인터가 위치한 상태 */

a:active
  /* 링크 위에 마우스 포인터를 두고 좌측 버튼을 계속 클릭하고 있는 상태 */



button
  background: var(--button-bg-color)
  color: var(--button-text-color)
  border: solid 1px var(--button-border-color)
  // border-radius: 5%

  &:disabled
    background: var(--button-bg-disabled-color)
    color: var(--text-color)
    text-decoration: line-through
    cursor: not-allowed



input[type=text]
  color: var(--text-color)
  background: var(--input-text-bg-color)
  border: solid 1px var(--input-text-border-color)
  // border-radius: 3%

  &:disabled
    background: var(--input-text-text-disabled-color)
    cursor: not-allowed

  &:focus
    //




code
  font-family: $font_mono



pre
  font-family: $font_mono




header
  display: flex
  justify-content: space-between

  @media (max-width: $mobile_width)
    display: block


header .main
  @media (max-width: $mobile_width)
    padding-bottom: 2rem



header .site-title
  margin-top: 0px
  margin-bottom: 0px

  @extend .hvr-bob !optional


header .site-title a
  font-family: $font_mono
  font-weight: bold
  font-style: italic

  background-color: var(--site-title-bg-color)
  border: solid 1px var(--site-title-border-color)
  color: purple // NOTE raw-color

  text-decoration: none

  margin-top: 0px
  margin-bottom: 0px

  @media screen and (min-width: $mobile_width)
    font-size: 1.5rem
    padding: 0.3rem
    box-shadow: 8px 8px 0px var(--site-title-box-shadow-color)
    text-shadow: -2px -2px 0px #f00, 2px 2px 0px #00f, 4px 4px 0px #0f0
    // NOTE raw-color


  @media (max-width: $mobile_width)
    font-size: 1.5rem
    padding: 0.3rem
    box-shadow: 5px 5px 0px var(--site-title-box-shadow-color)
    text-shadow: -2px -2px 0px #f00, 2px 2px 0px #00f, 4px 4px 0px #0f0
    // NOTE raw-color



header nav
  @media screen and (min-width: $mobile_width)
    font-size: 1.1rem
    align-self: flex-end
    display: flex
    justify-content: space-between
    column-gap: 1.1rem

  @media (max-width: $mobile_width)
    display: block

  a
    @extend .hvr-wobble-top !optional



.global-footer
  text-align: center
  font-size: 0.9rem
  padding: 1rem



.post-prevnext
  @media screen and (min-width: $mobile_width)
    display: flex
    justify-content: space-between

    padding: 0.3rem

    font-weight: bold
    font-style: normal
    font-size: 1rem


  @media (max-width: $mobile_width)
    font-weight: bold
    font-style: normal


.post-prevnext .post-prevnext-side
  @media (max-width: $mobile_width)
    display: block

  @extend .hvr-wobble-horizontal !optional



.posts-pagination
  @media screen and (min-width: $mobile_width)
    display: flex
    justify-content: center
    column-gap: 1.5rem

    font-weight: bold
    font-size: 1.0rem

  @media (max-width: $mobile_width)
    text-align: center


.posts-pagination .posts-pagination-indicator
  border: solid 1px var(--border-color)
  /* border-radius: 15% 10% / 5% 20%
  box-shadow: 3px 3px 1px var(--box-shadow-color)

  padding-left: 0.3rem
  padding-right: 0.3rem

  @media (max-width: $mobile_width)
    display: block

  @extend .hvr-grow !optional


.posts-pagination-last, .posts-pagination-newer
  @extend .hvr-wobble-horizontal !optional


.posts-pagination-first, .posts-pagination-older
  @extend .hvr-wobble-horizontal !optional


.search
  @media screen and (min-width: $mobile_width)
    padding: 1rem

.search-form
  display: flex
  justify-content: end
  align-self: flex-end

.search-form .search-query
  width: 10rem

  @extend .hvr-grow !optional


.search-result-row
  @media screen and (min-width: $mobile_width)
    font-size: 1.5rem

  @media (max-width: $mobile_width)
    //



.article-link
  @extend .hvr-wobble-to-top-right !optional



main article
  border: solid 1px var(--border-color)
  box-shadow: 3px 3px 1px var(--box-shadow-color)
  /* border-radius: 2% 1% / 2% 1%

  padding: 1rem


main article .title
  // font-size: 1.5rem;


main article time
  font-size: 0.7rem

  &::before
    content: "🗓️ "


.meta time
  font-size: 0.7rem

  &::before
    content: "🗓️ "


main article blockquote
  margin: 1rem
  font-style: italic
  font-size: 1.0rem

  &::before
    content: "🦜️"
    font-style: italic
    font-size: 1.5rem

  p
    margin-top: 0rem
    margin-left: 1.3rem



.article__list li
  margin-bottom: 1rem

  a
    font-size: 1.3rem
    font-style: bold



img
  /* Ensures the image does not exceed the width of its container */
  max-width: 100%
  height: auto
  @media (max-width: $mobile_width)
    display: block
    /* Prevents extra space below the image, especially when used in layouts */




.sec-categories
  // @media screen and (min-width: $mobile_width) {
  columns: 12rem

.sec-tags
  columns: 12rem
  // @media screen and (min-width: $mobile_width) {
  //     column-count: auto;
  //     // column-span: all;
  // }

.sec-toc
  text-align: right


.toc-link::before
  content: "/"
  padding-left: 1rem


.snow-mode-btn
  @extend .hvr-wobble-top !optional


.dark-mode-btn
  @extend .hvr-wobble-top !optional

  @media screen and (min-width: $mobile_width)
    // padding: 0.1rem;

  @media (max-width: $mobile_width)
    // display: block;
    margin: 1rem


#TableOfContents
  display: flex

  // background-color: grey;

  &::before
    font-size: 1.5rem
    content: "📑"

  > ul
    border: dotted 1px var(--border-color)
    // border-radius: 15% 10% / 5% 20%
    box-shadow: 3px 3px 1px var(--box-shadow-color)
    padding: 1rem


figure
  border: 1px solid var(--border-color)
  padding: 1rem
  margin: 1rem
  width: fit-content /* Adjust container width to image size */


figcaption
  text-align: center
  font-style: italic
  //  margin-top: ;


.permalink
  // font-size: 1.1rem;
  // font-weight: bold;
  // font-style: italic;

  @extend .hvr-wobble-to-top-right !optional


.button-link
  background-color: var(--button-bg-color)
  color: var(--button-text-color)
  padding: 0.1rem
  text-align: center
  text-decoration: none
  border: solid 1px var(--button-border-color)
  // border-radius: 5%
  display: inline-block
  cursor: pointer

  &:hover
    //background-color: #0056b3;


a.button-link, a.button-link:visited
  color: var(--button-text-color)



hr
  margin-left: 1rem
  margin-right: 1rem
  border: dashed 1px var(--border-color)



hr.archive-ruler
  margin: 1rem
  border: solid 1px var(--border-color)


.preview-content
  font-size: 0.9rem
  font-style: italic


.short-description
  background-color: var(--border-color)

  &::before
    content: "⁝ "

.preview > .short-description
  font-size: 0.9rem






