
{{ if .Site.Params.DefaultSassPrepend }}
{{ .Site.Params.DefaultSassPrepend }}
{{ end }}


$mobile_width: 600px

$font_default: "Noto Serif KR", "Times New Roman", Times, serif
$font_mono: "Nanum Gothic Coding", "D2Coding", monospace


$bg_beige: #fffbeb
$bg_beige_darker: #f0ecdd
$blackish_text: #5c5537
$redish_orange: #ff6719
$redish_orange_visited: #dd6719
$redish_orange_border: #e6e2d4

$alien_green_0:   #39a78e
$alien_green_0_1: #20b77e
$alien_green_1:	#2bdb6b
$alien_green_2:	#18da3b
$alien_green_3:	#09f018
$alien_green_4:	#00ff00

$monochrome_white:	#ffffff
$monochrome_lgrey:	#c0c0c0
$monochrome_dgrey:	#808080
$monochrome_darker_grey:	#404040
$monochrome_black:	#000000

$darker_green1:  #000a00
$darker_green2:  #001400
$darker_green3:  #001e00
$darker_green4:  #002800
$darker_green5:  #003200
$darker_green6:  #003c00
$darker_green7:  #004600
$darker_green8:  #005000
$darker_green9:  #005a00
$darker_green10: #006400

$autumn_brown:      #322d2b
$autumn_green_dark: #0c4a23
$autumn_green:      #1c6331
$autumn_gold:       #e4c56c
$autumn_gold2:      #c0a35a






@mixin light-mode
  --bg-color: #{$bg_beige}

  --text-color: #{$blackish_text}

  --link-color: #{$redish_orange}
  --link-visited-color: #{$redish_orange_visited}

  --border-color: #{$redish_orange_border}
  --box-shadow-color: #{$redish_orange_border}

  --input-text-bg-color: white
  --input-text-border-color: #{$redish_orange}
  --input-text-text-disabled-color: #cccccc

  --button-bg-color: #{$redish_orange}
  --button-border-color: #{$redish_orange}
  --button-text-color: white
  --button-bg-disabled-color: #{$redish_orange_visited}

  --site-title-bg-color: #{$monochrome_white}
  --site-title-border-color: #{$monochrome_dgrey}
  --site-title-box-shadow-color: #{$monochrome_darker_grey}

  --dark-mode-btn-text: "🌻 light"

  --preview-bg-color: #{$autumn_gold}

  --progress-bar-bg-color: #{$monochrome_lgrey}
  --progress-bar-fg-color: #{$redish_orange}


@mixin dark-mode
  --bg-color: #{$darker_green1}

  --text-color: #{$monochrome_lgrey}

  --link-color: #{$alien_green_0_1}
  --link-visited-color: #{$alien_green_0}

  --border-color: #{$darker_green5}
  --box-shadow-color: #{$darker_green5}

  --input-text-bg-color: #{$darker_green5}
  --input-text-border-color: #{$monochrome_lgrey}
  --input-text-text-disabled-color: #{$monochrome_darker_grey}

  --button-bg-color: #{$darker_green5}
  --button-border-color: #{darker_green3}
  --button-text-color: #{$monochrome_lgrey}
  --button-bg-disabled-color: #{$monochrome_dgrey}

  --site-title-bg-color: #{$monochrome_lgrey}
  --site-title-border-color: #{$monochrome_dgrey}
  --site-title-box-shadow-color: #{$monochrome_darker_grey}

  --dark-mode-btn-text: "🌚 dark"

  --preview-bg-color: #{$darker_green9}

  --progress-bar-bg-color: #{$monochrome_darker_grey}
  --progress-bar-fg-color: #{$redish_orange}


\:root
    @media (prefers-color-scheme: light)
      @include light-mode

    @media (prefers-color-scheme: dark)
      @include dark-mode

    [data-theme="light"]
      @include light-mode

    [data-theme="dark"]
      @include dark-mode



.no-break-text
    white-space: nowrap


body
  //padding: 1rem
  font-family: $font_default

  background-color: var(--bg-color)
  color: var(--text-color)
  // font-optical-sizing: auto;

  margin: 0em;

.container
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em
  padding-right: 1em


a
  /* 기본 상태 */
  color: var(--link-color)
  @extend .hvr-box-shadow-outset !optional

a:link
  /* href 속성이 명시된 상태 */

a:visited
  /* 링크를 클릭해본 상태 */
  color: var(--link-visited-color)

a:focus
  /* 링크 위에 키보드 포커스가 위치한 상태 */

a:hover
  /* 링크 위에 마우스 포인터가 위치한 상태 */

a:active
  /* 링크 위에 마우스 포인터를 두고 좌측 버튼을 계속 클릭하고 있는 상태 */



button
  background: var(--button-bg-color)
  color: var(--button-text-color)
  border: solid 1px var(--button-border-color)
  // border-radius: 5%

  &:disabled
    background: var(--button-bg-disabled-color)
    color: var(--text-color)
    text-decoration: line-through
    cursor: not-allowed



input[type=text]
  color: var(--text-color)
  background: var(--input-text-bg-color)
  border: solid 1px var(--input-text-border-color)
  // border-radius: 3%

  &:disabled
    background: var(--input-text-text-disabled-color)
    cursor: not-allowed

  &:focus
    //




code
  font-family: $font_mono



pre
  font-family: $font_mono




header
  display: flex
  justify-content: space-between

  @media (max-width: $mobile_width)
    display: block


header .main
  @media (max-width: $mobile_width)
    padding-bottom: 2rem



header .site-title
  margin-top: 0px
  margin-bottom: 0px

  @extend .hvr-bob !optional
  @extend .no-break-text


header .site-title a
  font-family: $font_mono
  font-weight: bold
  font-style: italic

  background-color: var(--site-title-bg-color)
  border: solid 1px var(--site-title-border-color)
  color: purple // NOTE raw-color

  text-decoration: none

  margin-top: 0px
  margin-bottom: 0px

  @media screen and (min-width: $mobile_width)
    font-size: 1.5rem
    padding: 0.3rem
    box-shadow: 3px 3px 0px var(--site-title-box-shadow-color)
    text-shadow: -2px -2px 0px #f00, 2px 2px 0px #00f, 4px 4px 0px #0f0
    // NOTE raw-color


  @media (max-width: $mobile_width)
    font-size: 1.5rem
    padding: 0.3rem
    box-shadow: 3px 3px 0px var(--site-title-box-shadow-color)
    text-shadow: -2px -2px 0px #f00, 2px 2px 0px #00f, 4px 4px 0px #0f0
    // NOTE raw-color



header nav
  @media screen and (min-width: $mobile_width)
    font-size: 1.1rem
    align-self: flex-end
    display: flex
    justify-content: space-between
    column-gap: 1.1rem

  @media (max-width: $mobile_width)
    display: block

  a
    @extend .hvr-wobble-top !optional



.global-footer
  text-align: center
  font-size: 0.9rem
  padding: 1rem



.post-prevnext
  @media screen and (min-width: $mobile_width)
    display: flex
    justify-content: space-between

    padding: 0.3rem

    font-weight: bold
    font-style: normal
    font-size: 1rem


  @media (max-width: $mobile_width)
    font-weight: bold
    font-style: normal


.post-prevnext .post-prevnext-side
  @media (max-width: $mobile_width)
    display: block

  @extend .hvr-wobble-horizontal !optional



.posts-pagination
  @media screen and (min-width: $mobile_width)
    display: flex
    justify-content: center
    column-gap: 1.5rem

    font-weight: bold
    font-size: 1.0rem

  @media (max-width: $mobile_width)
    text-align: center


.posts-pagination .posts-pagination-indicator
  border: solid 1px var(--border-color)
  /* border-radius: 15% 10% / 5% 20%
  box-shadow: 3px 3px 1px var(--box-shadow-color)

  padding-left: 0.3rem
  padding-right: 0.3rem

  @media (max-width: $mobile_width)
    display: block

  @extend .hvr-grow !optional


.posts-pagination-last, .posts-pagination-newer
  @extend .hvr-wobble-horizontal !optional


.posts-pagination-first, .posts-pagination-older
  @extend .hvr-wobble-horizontal !optional


.search
  @media screen and (min-width: $mobile_width)
    padding: 1rem

.search-form
  display: flex
  justify-content: end
  align-self: flex-end

.search-form .search-query
  width: 10rem

  @extend .hvr-grow !optional


.search-result-row
  @media screen and (min-width: $mobile_width)
    font-size: 1.5rem

  @media (max-width: $mobile_width)
    //



.article-link
  @extend .hvr-wobble-to-top-right !optional



main article
  border: solid 1px var(--border-color)
  box-shadow: 3px 3px 1px var(--box-shadow-color)
  /* border-radius: 2% 1% / 2% 1%

  padding: 1rem


main article .title
  // font-size: 1.5rem;


main article time
  font-size: 0.7rem
  @extend .no-break-text

  &::before
    content: "🗓️ "


.meta time
  font-size: 0.7rem
  @extend .no-break-text

  &::before
    content: "🗓️ "


main article blockquote
  margin: 1rem
  font-style: italic
  font-size: 1.0rem

  &::before
    content: "🦜️"
    font-style: italic
    font-size: 1.5rem

  p
    margin-top: 0rem
    margin-left: 1.3rem



.article__list li
  margin-bottom: 1rem

  a
    font-size: 1.3rem
    font-style: bold


.article__list
  list-style: square
  //  list-style-position: inside

  /* li:nth-child(odd)
  /*   text-align: left
  /* 
  /* li:nth-child(even)
  /*   text-align: right


img
  /* Ensures the image does not exceed the width of its container */
  max-width: 100%
  height: auto
  @media (max-width: $mobile_width)
    display: block
    /* Prevents extra space below the image, especially when used in layouts */




.sec-toc
  text-align: right


.toc-link::before
  content: "/"
  padding-left: 1rem


.snow-mode-btn
  @extend .hvr-wobble-top !optional


.dark-mode-btn
  @extend .hvr-wobble-top !optional

  @media screen and (min-width: $mobile_width)
    // padding: 0.1rem;

  @media (max-width: $mobile_width)
    // display: block;
    margin: 1rem

  &::after
    content: var(--dark-mode-btn-text)




#TableOfContents
  display: flex

  // background-color: grey;

  &::before
    font-size: 1.5rem
    content: "📑"

  > ul
    border: dotted 1px var(--border-color)
    // border-radius: 15% 10% / 5% 20%
    box-shadow: 3px 3px 1px var(--box-shadow-color)
    padding: 1rem


figure
  border: 1px solid var(--border-color)
  padding: 1rem
  margin: 1rem
  width: fit-content /* Adjust container width to image size */


figcaption
  text-align: center
  font-style: italic
  //  margin-top: ;


.permalink
  // font-size: 1.1rem;
  // font-weight: bold;
  // font-style: italic;

  @extend .hvr-wobble-to-top-right !optional


.button-link
  background-color: var(--button-bg-color)
  color: var(--button-text-color)
  padding: 0.1rem
  text-align: center
  text-decoration: none
  border: solid 1px var(--button-border-color)
  // border-radius: 5%
  display: inline-block
  cursor: pointer

  &:hover
    //background-color: #0056b3;


a.button-link, a.button-link:visited
  color: var(--button-text-color)



hr
  margin-left: 1rem
  margin-right: 1rem
  border: dashed 1px var(--border-color)



hr.archive-ruler
  margin: 1rem
  border: solid 1px var(--border-color)


.preview-content
  font-size: 0.9rem
  font-style: italic


.short-description
  background-color: var(--preview-bg-color)

  &::before
    content: "⁝ "

.preview > .short-description
  font-size: 0.9rem


.tagbutton
  @extend .no-break-text


.tagbutton-inline
  @extend .no-break-text
  display: inline


section.terms ul.terms
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  gap: 1.5rem
  list-style: none
  padding: 0

  li
    padding: 10px
    //border: 1px solid #ccc


nav.tags .tags li
  margin-right: 1rem


@import "./htmx/indicator"
@import "./htmx/transition"
