{{ define "main" }}

<hr class="archive-ruler">

{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">🎊 모든 포스팅 / All articles</h1>
{{ end }}

<ol class="posts">
    {{- range .Data.Pages -}}
    {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    <li class="post">
        {{ partial "article-date-in-list.html" . }}
        {{ partial "article-link.html" . }}
        {{ partial "list-preview.html" . }}
    </li>
    {{- end -}}
    {{- end -}}
</ol>

<hr class="archive-ruler">

{{ end }}
