{{ define "main" }}
<main>
    {{ partial "prevnext.html" . }}
    
    <hr class="archive-ruler">
    
    {{ .TableOfContents }}

    <article>
	<div class="title">
            {{- $emoji := partial "emojibyhash.html" (dict "input" .Title) -}}
	    <h1 class="title">{{ $emoji }} {{ .Title }}</h1>
	    <div class="meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                    {{ dateFormat "2006년01월02일" .Date }}
                </time>
                {{ if .Draft }} <span class="draft-label">(DRAFT)</span> {{ end }}</div>
        </div>

        {{ if isset .Params "description" }}
        <div class="description">
	    <span class="short-description">
                {{ .Description }}
            </span>
        </div>
        {{ end }}

	{{ if isset .Params "tldr" }}
	<div class="tldr">
	    <strong>tl;dr:</strong>
	    {{ .Params.tldr }}
	</div>{{ end }}

	<section class="body">
	    {{ .Content }}
	</section>

        {{- $tags := partial "post-taxonomy.html" (dict "Page" . "Terms" (.Page.GetTerms "tags")) -}}
        {{- $series := partial "post-taxonomy.html" (dict "Page" . "Terms" (.Page.GetTerms "series")) -}}

	<div class="post-tags">
	    {{ if ne .Type "page" }}
	    {{ if gt .Params.tags 0 }}
	    <nav class="nav tags">
		<ul class="tags">
		    {{ range (sort $series "Count" "desc") }}
		    <li class="tagbutton-inline">
                        📚 <a href="{{ .Link  }}">{{ .Term }}</a>
                        <sup>{{ .Count }}</sup>
                    </li>
		    {{ end }}
		    {{ range (sort $tags "Count" "desc") }}
		    <li class="tagbutton-inline">
                        🏷️ <a href="{{ .Link  }}">{{ .Term }}</a>
                        <sup>{{ .Count }}</sup>
                    </li>
		    {{ end }}
		</ul>
	    </nav>
	    {{ end }}
	    {{ end }}
	</div>
    </article>

    <hr class="archive-ruler">

    {{ partial "prevnext.html" . }}
</main>
{{ end }}
