{{ define "main" }}

{{ .Scratch.Set "taxonomy" "" }}
{{ .Scratch.Set "taxonomyType" "" }}
<h1 class="page-title">
    {{ if eq .Path "/categories" }}
    Categories😺
    {{-   .Scratch.Set "taxonomy" .Site.Taxonomies.categories -}}
    {{-   .Scratch.Set "taxonomyType" "categories" -}}
    {{ else if eq .Path "/series" }}
    Series📚
    {{-   .Scratch.Set "taxonomy" .Site.Taxonomies.series -}}
    {{-   .Scratch.Set "taxonomyType" "series" -}}
    {{ else }}
    Tags🏷️
    {{-   .Scratch.Set "taxonomy" .Site.Taxonomies.tags -}}
    {{-   .Scratch.Set "taxonomyType" "tags" -}}
    {{ end }}
    {{- $taxonomy := .Scratch.Get "taxonomy" -}}
    ({{- len $taxonomy -}})
</h1>

{{- $taxonomyType := .Scratch.Get "taxonomyType" -}}
{{- $taxonomyIcon := "" -}}
{{- if eq $taxonomyType "categories" -}}
{{- $taxonomyIcon = "😺" -}}
{{- else if eq $taxonomyType "series" -}}
{{- $taxonomyIcon = "📚" -}}
{{- else -}}
{{- $taxonomyIcon = "🏷️" -}}
{{- end -}}

<hr class="archive-ruler">

<section class="section is-fullheight sec-categories">
    {{/*
    <h1 id="sec-{{ $taxonomyType }}" class="page-title">
        Categories😺({{ len .Site.Taxonomies.categories }}) <a href="#sec-categories">#</a>
    </h1>
    */}}
    <ul class="{{ $taxonomyType }}">
	{{ range $name, $t := $taxonomy }}
        {{   $cnt := .Count }}
	{{   with $.Site.GetPage (printf "/%s/%s" $taxonomyType $name) }}
        <li class="tagbutton">
	    <a href={{ .RelPermalink }} title="All pages with {{$taxonomyType}} <i>{{$name}}</i>">{{$taxonomyIcon}} {{$name}}</a>
	    <sup>{{$cnt}}</sup>
        </li>
        {{   end }}
        {{ end }}
    </ul>
</section>

<hr class="archive-ruler">

{{ end }}
