{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>📔 Entries "<em>{{ .Data.Term }}</em>" ({{ len .Data.Pages }}건)</h1>
{{ else }}
<h1 class="page-title">All articles</h1>
{{ end }}

<ol class="posts">
    {{- range .Data.Pages -}}
    {{-   if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    <li class="post">
        {{/*<span class="meta">[{{ dateFormat "2006-01-02" .Date }}]{{ if .Draft }} <span class="draft-label">[DRAFT]</span> {{ end }}</span> */}}
        <span class="meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                {{ dateFormat "2006-01-02" .Date }}
            </time>
        </span>
	<a href="{{ .RelPermalink }}" class="article-link" >{{.Title}}</a>
        <br>
        <div class="preview">
            {{ if isset .Params "description" }}
	    <span class="short-description">
                {{ .Description }}
            </span>
            {{ else }}
            <span class="preview-content">
                {{ strings.Truncate 100 "..." (.Content | plainify) }}
            </span>
            {{ end }}
        </div>
    </li>
    {{-   end -}}
    {{- end -}}
</ol>
{{ end }}
