{{ define "main" }}

<hr class="archive-ruler">

{{- $taxonomyType := "" -}}
{{- $taxonomyLabelSingular := "" -}}
{{- $taxonomyIcon := "" -}}
{{ if hasPrefix .Path "/categories/" }}
{{-   $taxonomyType = "categories" -}}
{{-   $taxonomyLabelSingular = "Category" -}}
{{-   $taxonomyIcon = "😺" -}}
{{ else }}
{{-   $taxonomyType = "tags" -}}
{{-   $taxonomyLabelSingular = "Tag" -}}
{{-   $taxonomyIcon = "🏷️" -}}
{{ end }}

{{ if isset .Data "Term" }}
<h1>{{$taxonomyLabelSingular}}{{$taxonomyIcon}}
    "<em>{{ .Data.Term }}</em>" ({{ len .Data.Pages }}건)</h1>
{{ else }}
<h1 class="page-title">All {{$taxonomyType}}{{$taxonomyIcon}}</h1>
{{ end }}

<ol class="posts">
    {{- range .Data.Pages -}}
    {{-   if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    <li class="post">
        {{ partial "article-date-in-list.html" . }}
        {{ partial "article-link.html" . }}
        {{ partial "list-preview.html" . }}
    </li>
    {{-   end -}}
    {{- end -}}
</ol>

<hr class="archive-ruler">

{{ end }}
