{{ define "main" }}

{{ partial "archive-toc.html" . }}

<hr class="archive-ruler">

{{ .Scratch.Set "taxonomy" "" }}
{{ .Scratch.Set "taxonomyType" "" }}
<h1 class="page-title">
    {{ if eq .Path "/categories" }}
    Categories😺
    {{-  .Scratch.Set "taxonomy" .Site.Taxonomies.categories -}}
    {{-  .Scratch.Set "taxonomyType" "categories" -}}
    {{ else if eq .Path "/series" }}
    Series📚
    {{-  .Scratch.Set "taxonomy" .Site.Taxonomies.series -}}
    {{-  .Scratch.Set "taxonomyType" "series" -}}
    {{ else }}
    Tags🏷️
    {{-  .Scratch.Set "taxonomy" .Site.Taxonomies.tags -}}
    {{-  .Scratch.Set "taxonomyType" "tags" -}}
    {{ end }}
    {{- $taxonomy := .Scratch.Get "taxonomy" -}}
    ({{- len $taxonomy -}})
</h1>

{{- $taxonomyType := .Scratch.Get "taxonomyType" -}}
{{- $taxonomyIcon := "" -}}
{{- if eq $taxonomyType "categories" -}}
{{-   $taxonomyIcon = "😺" -}}
{{- else if eq $taxonomyType "series" -}}
{{-   $taxonomyIcon = "📚" -}}
{{- else -}}
{{-   $taxonomyIcon = "🏷️" -}}
{{- end -}}

{{- $txs := slice -}}
{{- range $name, $t := $taxonomy -}}
{{-   with $.Site.GetPage (printf "/%s/%s" $taxonomyType $name) -}}
{{-     $txDict := dict "Term" $name "Count" (len $t) "Link" .RelPermalink "Mtime" .Lastmod -}}
{{-     $txs = append $txs (slice $txDict) -}}
{{-   end -}}
{{- end -}}

<script src="/js/terms-sort.js" defer></script>

<span class="sort-terms-control"
      data-desc-order="true"
      data-sort-by="count"
      data-term-type="lexical"
      data-count-type="numeric"
      data-last-modified-type="numeric" >
    <button type="button" class="sort-terms-btn by-term" onclick="sortTermsBy('term')">
        by-name
        {{ template "terms-sort--asc-desc" }}
    </button>

    <button type="button" class="sort-terms-btn by-count" onclick="sortTermsBy('count')">
        by-count
        {{ template "terms-sort--asc-desc" }}
    </button>

    <button type="button" class="sort-terms-btn by-last-modified" onclick="sortTermsBy('lastModified')">
        by-last-modified
        {{ template "terms-sort--asc-desc" }}
    </button>
</span>


<section class="section is-fullheight terms">
    <ul class="{{ $taxonomyType }} terms">
 	{{ range (sort $txs "Count" "desc") }}
        <li class="tagbutton"
            data-term="{{.Term}}"
            data-count="{{.Count}}"
            data-last-modified="{{.Mtime.Unix}}" >
	    <a href={{ .Link }} title="All pages with {{$taxonomyType}} <i>{{.Term}}</i>">
                {{$taxonomyIcon}} {{.Term}}
            </a>
            <sup>{{.Count}}</sup>
            <br>
            <span class="meta" style="margin-left: 1rem;">
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                    {{ dateFormat "2006-01-02" .Mtime }}
                </time>
            </span>
        </li>
        {{ end }}
    </ul>
</section>

<hr class="archive-ruler">

{{ end }}

{{/* --- INLINES --- */}}
{{ define "terms-sort--asc-desc" }}
<span class="sort-order-indicator asc">🔼</span>
<span class="sort-order-indicator desc">🔽</span>
{{ end }}
