{{- $emojis := slice
"😀" "😃" "😄" "😁" "😆" "😅" "🤣" "😂" "🙂" "😉" "😊" 
"😇" "🥰" "😍" "🤩" "😘" "😗" "☺️" "😚" "😙" "🥲" "😏" 
"😋" "😛" "😜" "🤪" "😝" "🤑" "🤗" "🤭" "🫢" "🫣" "🤫" 
"🤔" "🫡" "🤤" "🤠" "🥳" "🥸" "😎" "🤓" "🧐" "🙃" "🫠" 
"🤐" "🤨" "😐" "😑" "😶" "🫥" "😶‍🌫️" "😒" "🙄" "😬" "😮‍💨" 
"🤥" "🫨" "🙂‍↔️" "🙂‍↕️" "😌" "😔" "😪" "😴" "😷" "🤒" "🤕" 
"🤢" "🤮" "🤧" "🥵" "🥶" "🥴" "😵" "😵‍💫" "🤯" "🥱" "😕" 
"🫤" "😟" "🙁" "☹️" "😮" "😯" "😲" "😳" "🥺" "🥹" "😦" 
"😧" "😨" "😰" "😥" "😢" "😭" "😱" "😖" "😣" "😞" "😓" 
"😩" "😫" "😤" "😡" "😠" "🤬" "😈" "👿" "💀" "☠️" "💩" 
"🤡" "👹" "👺" "👻" "👽" "👾" "🤖" "😺" "😸" "😹" "😻" 
"😼" "😽" "🙀" "😿" "😾" "🙈" "🙉" "🙊" 
"👋" "🤚" "🖐️" "✋" "🖖" "🫱" "🫲" "🫳" "🫴" "🫷" "🫸" 
"👌" "🤌" "🤏" "✌️" "🤞" "🫰" "🤟" "🤘" "🤙" "👈" "👉" 
"👆" "🖕" "👇" "☝️" "🫵" "👍" "👎" "✊" "👊" "🤛" "🤜" 
"👏" "🙌" "🫶" "👐" "🤲" "🤝" "🙏" "✍️" "💅" "🤳" "💪" 
"🦾" "🦿" "🦵" "🦶" "👂" "🦻" "👃" "🧠" "🫀" "🫁" "🦷" 
"🦴" "👀" "👁️" "👅" "👄" "🫦" "👣" "🫆" "🧬" "🩸" "👶" 
"🧒" "👦" "👧" "🧑" "👱" "👨" "🧔" "🧔‍♂️" "🧔‍♀️" "👨‍🦰" "👨‍🦱" 
"👨‍🦳" "👨‍🦲" "👩" "👩‍🦰" "🧑‍🦰" "👩‍🦱" "🧑‍🦱" "👩‍🦳" "🧑‍🦳" "👩‍🦲" "🧑‍🦲" 
"👱‍♀️" "👱‍♂️" "🧓" "👴" "👵" "🧏" "🧏‍♂️" "🧏‍♀️" "👳" "👳‍♂️" "👳‍♀️" 
"👲" "🧕" "🤰" "🫃" "🫄" "👼" "🗣️" "👤" "👥" "🫂" "🦰" 
"🦱" "🦲" "🦳" "🙍" "🙍‍♂️" "🙍‍♀️" "🙎" "🙎‍♂️" "🙎‍♀️" "🙅" "🙅‍♂️" 
"🙅‍♀️" "🙆" "🙆‍♂️" "🙆‍♀️" "💁" "💁‍♂️" "💁‍♀️" "🙋" "🙋‍♂️" "🙋‍♀️" "🧏" 
"🧏‍♂️" "🧏‍♀️" "🙇" "🙇‍♂️" "🙇‍♀️" "🤦" "🤦‍♂️" "🤦‍♀️" "🤷" "🤷‍♂️" "🤷‍♀️" 
"🤱" "👩‍🍼" "👨‍🍼" "🧑‍🍼" "💆" "💆‍♂️" "💆‍♀️" "💇" "💇‍♂️" "💇‍♀️" "🚶" 
"🚶‍♂️" "🚶‍♀️" "🚶‍➡️" "🚶‍♀️‍➡️" "🚶‍♂️‍➡️" "🧍" "🧍‍♂️" "🧍‍♀️" "🧎" "🧎‍♂️" "🧎‍♀️" 
"🧎‍➡️" "🧎‍♀️‍➡️" "🧎‍♂️‍➡️" "🧑‍🦯" "🧑‍🦯‍➡️" "👨‍🦯" "👨‍🦯‍➡️" "👩‍🦯" "👩‍🦯‍➡️" "🧑‍🦼" "🧑‍🦼‍➡️" 
"👨‍🦼" "👨‍🦼‍➡️" "👩‍🦼" "👩‍🦼‍➡️" "🧑‍🦽" "🧑‍🦽‍➡️" "👨‍🦽" "👨‍🦽‍➡️" "👩‍🦽" "👩‍🦽‍➡️" "🏃" 
"🏃‍♂️" "🏃‍♀️" "🏃‍➡️" "🏃‍♀️‍➡️" "🏃‍♂️‍➡️" "🧑‍🩰" "💃" "🕺" "🕴️" "👯" 
"👯‍♂️" "👯‍♀️" "🧖" "🧖‍♂️" "🧖‍♀️" "🧗" "🧗‍♂️" "🧗‍♀️" "🤺" "🏇" "⛷️" 
"🏂" "🏌️" "🏌️‍♂️" "🏌️‍♀️" "🏄" "🏄‍♂️" "🏄‍♀️" "🚣" "🚣‍♂️" "🚣‍♀️" "🏊" 
"🏊‍♂️" "🏊‍♀️" "⛹️" "⛹️‍♂️" "⛹️‍♀️" "🏋️" "🏋️‍♂️" "🏋️‍♀️" "🚴" "🚴‍♂️" "🚴‍♀️" 
"🚵" "🚵‍♂️" "🚵‍♀️" "🤸" "🤸‍♂️" "🤸‍♀️" "🤼" "🤼‍♂️" "🤼‍♀️" "🤽" "🤽‍♂️" 
"🤽‍♀️" "🤾" "🤾‍♂️" "🤾‍♀️" "🤹" "🤹‍♂️" "🤹‍♀️" "🧘" "🧘‍♂️" "🧘‍♀️" "🛀" 
"🛌" "🧑‍⚕️" "👨‍⚕️" "👩‍⚕️" "🧑‍🎓" "👨‍🎓" "👩‍🎓" "🧑‍🏫" "👨‍🏫" "👩‍🏫" "🧑‍⚖️" 
"👨‍⚖️" "👩‍⚖️" "🧑‍🌾" "👨‍🌾" "👩‍🌾" "🧑‍🍳" "👨‍🍳" "👩‍🍳" "🧑‍🔧" "👨‍🔧" "👩‍🔧" 
"🧑‍🏭" "👨‍🏭" "👩‍🏭" "🧑‍💼" "👨‍💼" "👩‍💼" "🧑‍🔬" "👨‍🔬" "👩‍🔬" "🧑‍💻" "👨‍💻" 
"👩‍💻" "🧑‍🎤" "👨‍🎤" "👩‍🎤" "🧑‍🎨" "👨‍🎨" "👩‍🎨" "🧑‍✈️" "👨‍✈️" "👩‍✈️" "🧑‍🚀" 
"👨‍🚀" "👩‍🚀" "🧑‍🚒" "👨‍🚒" "👩‍🚒" "👮" "👮‍♂️" "👮‍♀️" "🕵️" "🕵️‍♂️" "🕵️‍♀️" 
"💂" "💂‍♂️" "💂‍♀️" "🥷" "👷" "👷‍♂️" "👷‍♀️" "🫅" "🤴" "👸" "🤵" 
"🤵‍♂️" "🤵‍♀️" "👰" "👰‍♂️" "👰‍♀️" "🎅" "🤶" "🧑‍🎄" "🦸" "🦸‍♂️" "🦸‍♀️" 
"🦹" "🦹‍♂️" "🦹‍♀️" "🧙" "🧙‍♂️" "🧙‍♀️" "🧚" "🧚‍♂️" "🧚‍♀️" "🧛" "🧛‍♂️" 
"🧛‍♀️" "🧜" "🧜‍♂️" "🧜‍♀️" "🧝" "🧝‍♂️" "🧝‍♀️" "🧞" "🧞‍♂️" "🧞‍♀️" "🧟" 
"🧟‍♂️" "🧟‍♀️" "🧌" "👯" "👯‍♂️" "👯‍♀️" "🧑‍🤝‍🧑" "👭" "👫" "👬" "💏" 
"👩‍❤️‍💋‍👨" "👨‍❤️‍💋‍👨" "👩‍❤️‍💋‍👩" "💑" "👩‍❤️‍👨" "👨‍❤️‍👨" "👩‍❤️‍👩" "👨‍👩‍👦" "👨‍👩‍👧" "👨‍👩‍👧‍👦" "👨‍👩‍👦‍👦" 
"👨‍👩‍👧‍👧" "👨‍👨‍👦" "👨‍👨‍👧" "👨‍👨‍👧‍👦" "👨‍👨‍👦‍👦" "👨‍👨‍👧‍👧" "👩‍👩‍👦" "👩‍👩‍👧" "👩‍👩‍👧‍👦" "👩‍👩‍👦‍👦" "👩‍👩‍👧‍👧" 
"👨‍👦" "👨‍👦‍👦" "👨‍👧" "👨‍👧‍👦" "👨‍👧‍👧" "👩‍👦" "👩‍👦‍👦" "👩‍👧" "👩‍👧‍👦" "👩‍👧‍👧" "👪" 
"🧑‍🧑‍🧒" "🧑‍🧑‍🧒‍🧒" "🧑‍🧒" "🧑‍🧒‍🧒" 
"🐵" "🐒" "🦍" "🦧" "🐶" "🐕" "🦮" "🐕‍🦺" "🐩" "🐺" "🦊" 
"🦝" "🐱" "🐈" "🐈‍⬛" "🦁" "🐯" "🐅" "🐆" "🐴" "🫎" "🫏" 
"🐎" "🦄" "🦓" "🦌" "🦬" "🐮" "🐂" "🐃" "🐄" "🐷" "🐖" 
"🐗" "🐽" "🐏" "🐑" "🐐" "🐪" "🐫" "🦙" "🦒" "🐘" "🦣" 
"🦏" "🦛" "🐭" "🐁" "🐀" "🐹" "🐰" "🐇" "🐿️" "🦫" "🦔" 
"🦇" "🐻" "🐻‍❄️" "🐨" "🐼" "🦥" "🦦" "🦨" "🦘" "🦡" "🐾" 
"🦃" "🐔" "🐓" "🐣" "🐤" "🐥" "🐦" "🐧" "🕊️" "🦅" "🦆" 
"🦢" "🦉" "🦤" "🪶" "🦩" "🦚" "🦜" "🪽" "🐦‍⬛" "🪿" "🐦‍🔥" 
"🪹" "🪺" "🐸" "🐊" "🐢" "🦎" "🐍" "🐲" "🐉" "🦕" "🦖" 
"🐳" "🐋" "🐬" "🦭" "🐟" "🐠" "🐡" "🦈" "🐙" "🐚" "🪸" 
"🪼" "🦀" "🦞" "🦐" "🦑" "🦪" "🐌" "🦋" "🐛" "🐜" "🐝" 
"🪲" "🐞" "🦗" "🪳" "🕷️" "🕸️" "🦂" "🦟" "🪰" "🪱" "🦠" 
"💐" "🌸" "💮" "🪷" "🏵️" "🌹" "🥀" "🌺" "🌻" "🌼" "🌷" 
"🪻" "🌱" "🪴" "🌲" "🌳" "🌴" "🌵" "🌾" "🌿" "☘️" "🍀" 
"🍁" "🍂" "🍃" "🍄" "🪨" "🪵" "🌑" "🌒" "🌓" "🌔" "🌕" 
"🌖" "🌗" "🌘" "🌙" "🌚" "🌛" "🌜" "☀️" "🌝" "🌞" "🪐" 
"⭐" "🌟" "🌠" "🌌" "☁️" "⛅" "⛈️" "🌤️" "🌥️" "🌦️" "🌧️" 
"🌨️" "🌩️" "🌪️" "🌫️" "🌬️" "🌀" "🌈" "🌂" "☂️" "☔" "⛱️" 
"⚡" "❄️" "☃️" "⛄" "☄️" "🔥" "💧" "🌊" 
"🍇" "🍈" "🍉" "🍊" "🍋" "🍋‍🟩" "🍌" "🍍" "🥭" "🍎" "🍏" 
"🍐" "🍑" "🍒" "🍓" "🫐" "🥝" "🍅" "🫒" "🥥" "🥑" "🍆" 
"🥔" "🥕" "🌽" "🌶️" "🫑" "🥒" "🥬" "🥦" "🧄" "🧅" "🥜" 
"🫘" "🌰" "🫚" "🫛" "🍄‍🟫" "🍞" "🥐" "🥖" "🫓" "🥨" "🥯" 
"🥞" "🧇" "🧀" "🍖" "🍗" "🥩" "🥓" "🍔" "🍟" "🍕" "🌭" 
"🥪" "🌮" "🌯" "🫔" "🥙" "🧆" "🥚" "🍳" "🥘" "🍲" "🫕" 
"🥣" "🥗" "🍿" "🧈" "🧂" "🥫" "🍝" "🍱" "🍘" "🍙" "🍚" 
"🍛" "🍜" "🍠" "🍢" "🍣" "🍤" "🍥" "🥮" "🍡" "🥟" "🥠" 
"🥡" "🍦" "🍧" "🍨" "🍩" "🍪" "🎂" "🍰" "🧁" "🥧" "🍫" 
"🍬" "🍭" "🍮" "🍯" "🍼" "🥛" "☕" "🫖" "🍵" "🍶" "🍾" 
"🍷" "🍸" "🍹" "🍺" "🍻" "🥂" "🥃" "🫗" "🥤" "🧋" "🧃" 
"🧉" "🥢" "🍽️" "🍴" "🥄" "🔪" "🫙" "🏺" 
"🎃" "🎄" "🎆" "🎇" "🧨" "✨" "🎈" "🎉" "🎊" "🎋" "🎍" 
"🎎" "🎏" "🎐" "🎑" "🧧" "🎁" "🎟️" "🎫" "🏮" "🪔" "🎖️" 
"🏆" "🏅" "🥇" "🥈" "🥉" "⚽" "⚾" "🥎" "🏀" "🏐" "🏈" 
"🏉" "🎾" "🥏" "🎳" "🏏" "🏑" "🏒" "🥍" "🏓" "🏸" "🥊" 
"🥋" "🥅" "⛳" "⛸️" "🎣" "🤿" "🎽" "🎿" "🛷" "🥌" "🎯" 
"🪀" "🪁" "🔫" "🎱" "🔮" "🪄" "🎮" "🕹️" "🎰" "🎲" "🧩" 
"🪅" "🪩" "🪆" "♠️" "♥️" "♦️" "♣️" "♟️" "🃏" "🀄" "🎴" 
"🎭" "🖼️" "🎨" 
"🌍" "🌎" "🌏" "🌐" "🗺️" "🗾" "🧭" "🏔️" "⛰️" "🌋" "🗻" 
"🏕️" "🏖️" "🏜️" "🏝️" "🏞️" "🏟️" "🏛️" "🏗️" "🧱" "🛖" "🏘️" 
"🏚️" "🏠" "🏡" "🏢" "🏣" "🏤" "🏥" "🏦" "🏨" "🏩" "🏪" 
"🏫" "🏬" "🏭" "🏯" "🏰" "💒" "🗼" "🗽" "⛪" "🕌" "🛕" 
"🕍" "⛩️" "🕋" "⛲" "⛺" "🌁" "🌃" "🏙️" "🌄" "🌅" "🌆" 
"🌇" "🌉" "♨️" "🎠" "🛝" "🎡" "🎢" "💈" "🎪" "🛎️" "🗿" 
"🚂" "🚃" "🚄" "🚅" "🚆" "🚇" "🚈" "🚉" "🚊" "🚝" "🚞" 
"🚋" "🚌" "🚍" "🚎" "🚐" "🚑" "🚒" "🚓" "🚔" "🚕" "🚖" 
"🚗" "🚘" "🚙" "🛻" "🚚" "🚛" "🚜" "🏎️" "🏍️" "🛵" "🦽" 
"🦼" "🛺" "🚲" "🛴" "🛹" "🛼" "🚏" "🛣️" "🛤️" "🛢️" "⛽" 
"🛞" "🚨" "🚥" "🚦" "🛑" "🚧" "⚓" "🛟" "⛵" "🛶" "🚤" 
"🛳️" "⛴️" "🛥️" "🚢" "✈️" "🛩️" "🛫" "🛬" "🪂" "💺" "🚁" 
"🚟" "🚠" "🚡" "🛰️" "🚀" "🛸" 
"🎀" "🎗️" "👓" "🕶️" "🥽" "🥼" "🦺" "👔" "👕" "👖" "🧣" 
"🧤" "🧥" "🧦" "👗" "👘" "🥻" "🩱" "🩲" "🩳" "👙" "👚" 
"🪭" "👛" "👜" "👝" "🛍️" "🎒" "🩴" "👞" "👟" "🥾" "🥿" 
"👠" "👡" "🩰" "👢" "🪮" "👑" "👒" "🎩" "🎓" "🧢" "🪖" 
"⛑️" "📿" "💄" "💍" "💎" "🦯" "🧿" "🔇" "🔈" "🔉" "🔊" 
"📢" "📣" "📯" "🔔" "🔕" "🎼" "🎵" "🎶" "🎙️" "🎚️" "🎛️" 
"🎤" "🎧" "📻" "🎷" "🪗" "🎸" "🎹" "🎺" "🎻" "🪕" "🥁" 
"🪘" "🪇" "🪈" "📱" "📲" "☎️" "📞" "📟" "📠" "🔋" "🪫" 
"🔌" "💻" "🖥️" "🖨️" "⌨️" "🖱️" "🖲️" "💽" "💾" "💿" "📀" 
"🎥" "🎞️" "📽️" "🎬" "📺" "📷" "📸" "📹" "📼" "📔" "📕" 
"📖" "📗" "📘" "📙" "📚" "📓" "📒" "📃" "📜" "📄" "📰" 
"🗞️" "📑" "🔖" "🏷️" "✉️" "📧" "📨" "📩" "📤" "📥" "📦" 
"📫" "📪" "📬" "📭" "📮" "🗳️" "✏️" "✒️" "🖋️" "🖊️" "🖌️" 
"🖍️" "📝" "💼" "📁" "📂" "🗂️" "📅" "📆" "🗒️" "🗓️" "📇" 
"📈" "📉" "📊" "📋" "📌" "📍" "📎" "🖇️" "📏" "📐" "✂️" 
"🗃️" "🗄️" "🗑️" "🪪" "⌛" "⏳" "⌚" "⏰" "⏱️" "⏲️" "🕰️" 
"🕛" "🕧" "🕐" "🕜" "🕑" "🕝" "🕒" "🕞" "🕓" "🕟" "🕔" 
"🕠" "🕕" "🕡" "🕖" "🕢" "🕗" "🕣" "🕘" "🕤" "🕙" "🕥" 
"🕚" "🕦" "🧮" "💰" "🪙" "💴" "💵" "💶" "💷" "💸" "💳" 
"🧾" "💹" "🧳" "🌡️" "🧸" "🧶" "🪢" "🔍" "🔎" "🕯️" "💡" 
"🔦" "🔒" "🔓" "🔏" "🔐" "🔑" "🗝️" "🔨" "🪓" "⛏️" "⚒️" 
"🛠️" "🗡️" "⚔️" "💣" "🪃" "🏹" "🛡️" "🪚" "🔧" "🪛" "🔩" 
"⚙️" "🗜️" "⚖️" "🔗" "⛓️‍💥" "⛓️" "🪝" "🧰" "🧲" "🪜" 
"⚗️" "🧪" "🧫" "🔬" "🔭" "📡" "💉" "🩹" "🩼" "🩺" "🩻" 
"🚪" "🪞" "🪟" "🛏️" "🛋️" "🪑" "🚽" "🪠" "🚿" "🛁" "🪤" 
"🪒" "🧴" "🧷" "🧹" "🧺" "🧻" "🪣" "🧼" "🫧" "🪥" "🧽" 
"🧯" "🛒" "🚬" "⚰️" "🪦" "⚱️" "🪧" 
"💌" "💘" "💝" "💖" "💗" "💓" "💞" "💕" "💟" "❣️" "💔" 
"❤️‍🔥" "❤️‍🩹" "❤️" "🩷" "🧡" "💛" "💚" "💙" "🩵" "💜" "🤎" 
"🖤" "🩶" "🤍" "💋" "💯" "💢" "💥" "💦" "💨" "🕳️" "💬" 
"👁️‍🗨️" "🗨️" "🗯️" "💭" "💤" "🔴" "🟠" "🟡" "🟢" "🔵" "🟣" 
"🟤" "⚫" "⚪" "🟥" "🟧" "🟨" "🟩" "🟦" "🟪" "🟫" "⬛" 
"⬜" "◼️" "◻️" "◾" "◽" "▪️" "▫️" "🔶" "🔷" "🔸" "🔹" 
"🔺" "🔻" "💠" "🔘" "🔳" "🔲" "🛗" "🏧" "🚮" "🚰" "♿" 
"🚹" "🚺" "🚻" "🚼" "🚾" "🛂" "🛃" "🛄" "🛅" "⚠️" "🚸" 
"⛔" "🚫" "🚳" "🚭" "🚯" "🚱" "🚷" "📵" "🔞" "☢️" "☣️" 
"⬆️" "↗️" "➡️" "↘️" "⬇️" "↙️" "⬅️" "↖️" "↕️" "↔️" "↩️" 
"↪️" "⤴️" "⤵️" "🔃" "🔄" "🔙" "🔚" "🔛" "🔜" "🔝" "🔀" 
"🔁" "🔂" "▶️" "⏩" "⏭️" "⏯️" "◀️" "⏪" "⏮️" "🔼" "⏫" 
"🔽" "⏬" "⏸️" "⏹️" "⏺️" "⏏️" "🎦" "🔅" "🔆" "📶" "🛜" 
"📳" "📴" "🛐" "🕉️" "✡️" "☸️" "☯️" "✝️" "☦️" "☪️" "☮️" 
"🕎" "🔯" "🪯" "♈" "♉" "♊" "♋" "♌" "♍" "♎" "♏" 
"♐" "♑" "♒" "♓" "⛎" "♀️" "♂️" "⚧️" "✖️" "➕" "➖" 
"➗" "🟰" "♾️" "‼️" "⁉️" "❓" "❔" "❕" "❗" "〰️" "💱" 
"💲" "#️⃣" "*️⃣" "0️⃣" "1️⃣" "2️⃣" "3️⃣" "4️⃣" "5️⃣" "6️⃣" "7️⃣" 
"8️⃣" "9️⃣" "🔟" "🔠" "🔡" "🔢" "🔣" "🔤" "🅰️" "🆎" "🅱️" 
"🆑" "🆒" "🆓" "ℹ️" "🆔" "Ⓜ️" "🆕" "🆖" "🅾️" "🆗" "🆘" 
"🆙" "🆚" "🈁" "🈂️" "🈷️" "🈶" "🈯" "🉐" "🈹" "🈚" "🈲" 
"🉑" "🈸" "🈴" "🈳" "㊗️" "㊙️" "🈺" "🈵" "⚕️" "♻️" "⚜️" 
"📛" "🔰" "⭕" "✅" "☑️" "✔️" "❌" "❎" "➰" "➿" "〽️" 
"✳️" "✴️" "❇️" "©️" "®️" "™️" 
"🏁" "🚩" "🏴‍☠️" "🇺🇳" 
-}}
{{- $h := crypto.SHA1 .input -}}
{{- $hn := cast.ToInt (add "0x" (slicestr $h 36)) -}}
{{- $emoji_idx := mod $hn (len $emojis) -}}
{{- $emoji := index $emojis $emoji_idx -}}
{{- return $emoji -}}
