<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="container">
            {{ partial "head.html" . }}

	    <main class="list">
		<div class="site-description">
                    {{- if isset .Site.Params "subtitle" -}}
                    <blockquote>{{ .Site.Params.Subtitle | safeHTML }}</blockquote>
                    {{- end -}}
		</div>
		{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
		{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}

                <hr class="archive-ruler">

                {{- $titles := "" -}}
                {{- range $paginator.Pages -}}
                {{- $title := .Title -}}
                {{- $titles = add $titles $title -}}
                {{- end -}}
                {{- $emoji := partial "emojibyhash.html" (dict "input" $titles) -}}
                <h1>
                    {{ $emoji }}
                    페이지 #{{ printf "%03d" $paginator.PageNumber }}
                </h1>

                <ul class="article__list">
                    {{ range $paginator.Pages }}
                    {{ if (ne .Params.hidden true) }}
                    <li>
                        {{ partial "article-date-in-list.html" . }}
                        {{ partial "article-link.html" . }}
                        {{ partial "list-preview.html" . }}
                    </li>
                    {{ end }}
		    {{ end }}
                </ul>

                <hr class="archive-ruler">

		{{ partial "paginator.html" . }}
	    </main>
	    {{ partial "footer.html" . }}
	</div>
    </body>
</html>
