<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="container">
            {{ partial "head.html" . }}

	    <main class="list">
		<div class="site-description">
                    {{- if isset .Site.Params "subtitle" -}}
                    <blockquote>{{ .Site.Params.Subtitle | safeHTML }}</blockquote>
                    {{- end -}}
		</div>
		{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
		{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}

                <hr class="archive-ruler">

                {{- $titles := "" -}}
                {{- range $paginator.Pages -}}
                {{- $title := .Title -}}
                {{- $titles = add $titles $title -}}
                {{- end -}}
                {{- $emoji := partial "emojibyhash.html" (dict "input" $titles) -}}
                <h1>
                    {{ $emoji }}
                    페이지 #{{ printf "%03d" $paginator.PageNumber }}
                </h1>

                {{ range $paginator.Pages }}
                <ul class="article__list">
                    {{ if (ne .Params.hidden true) }}
                    <li>
                        <span class="meta">
                            <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                                {{ dateFormat "2006-01-02" .Date }}
                            </time>
                        </span>

                        {{- $emoji := partial "emojibyhash.html" (dict "input" .Title) -}}
                        <a class="article-link" href="{{ .RelPermalink }}">
                            {{ $emoji }} {{ .Title }}
                        </a>
                        <div class="preview">
                            {{ if isset .Params "description" }}
		            <span class="short-description">
                                {{ .Description }}
                            </span>
                            {{ else }}
                            <span class="preview-content">
                                {{ strings.Truncate 100 "..." (.Content | plainify) }}
                            </span>
                            {{ end }}
                        </div>
                    </li>
                    {{ end }}
                </ul>
		{{ end }}

                <hr class="archive-ruler">

		{{ partial "paginator.html" . }}
	    </main>
	    {{ partial "footer.html" . }}
	</div>
    </body>
</html>
